<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <style>
            @import url('https://fonts.googleapis.com/css?family=Dosi');
        </style>
    </head>
    <body>
     <script>
        window.reactApp = <%- data %>
    </script>
	  <section id="index"></section>
	</body>
	<script src="bundle.js"></script>
</html>
