@font-face {
	font-family: 'Anton';
	src: url('https://fonts.googleapis.com/css?family=Anton');
}
h1 {
    color: #27aedb;
    text-align: center;
    font-size: 68px;
    font-family: 'Anton', sans-serif;
}
